export(fc)
S3method(fitted, stl)
S3method(fitted, stl2)
export(getraw)
export(plot.cycle)
export(plot.rembycycle)
export(plot.seasonal)
S3method(plot, stl2)
export(plot.trend)
S3method(predict, stl)
S3method(predict, stl2)
export(remainder)
export(remainder.stl)
export(remainder.stl2)
export(seasonal.stl)
export(seasonal.stl2)
export(stl2)
S3method(stl2, default)
S3method(stl2, ts)
S3method(time, stl)
S3method(time, stl2)
export(trend.stl)
export(trend.stl2)
